<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!--/*
	<table>
		<tr th:each="user : ${userList}">
			<td th:text="${user.login}"></td>
			<td th:text="${user.name}"></td>
		</tr>
		<tr th:each="user : ${userList}">
			<td colspan="2" th:text="${user.address}"></td>
		</tr>
	</table>
*/-->
<!--/* 위의 내용을 아래와 같이 표현 */-->
	<table>
		<th:block th:each="user : ${userList}">
			<tr>
				<td th:text="${user.login}"></td>
				<td th:text="${user.name}"></td>
			</tr>
			<tr>
				<td colspan="2" th:text="${user.address}"></td>
			</tr>
		</th:block>
	</table>
</body>
</html>